.angular-9 {
    width: 100%;
    padding: 10px;
    background: #1976d2;
}

.angular-9 label {
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
    margin-left: 20px;
}

.angular-9 div {
    font-size: 12px;
    font-weight: 400;
    color: #ccc;
    display: inline-block;
    margin-left: 10px;
}

.tree-shaking {
    width: 500px;
}