<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 pd-0">
      <div class="angular-14">
        <label>Angular 14 Features</label>
        <div>(Released on June 2022)</div>
        <div class="back" [routerLink]="['/']">
          < Back</div> </div> </div> </div> <div class="row features-scroll">
            <div class="col-md-12">
              <div class="feature">
                <label>1. Standalone Components</label>
                <p>
                  Angular standalone components aim to streamline the authoring of Angular applications by reducing the
                  need for NgModules. In v14, standalone components are in developer preview. They are ready to be used
                  in your applications for exploration and development, but are not a stable API and will potentially
                  change outside our typical model of backwards compatibility.
                </p>
                <div class="terminal">
                  <pre>ng generate component --standalone</pre>
                </div>
                <div class="terminal">
                  <pre>{{standalone}}</pre>
                </div>
              </div>
              <div class="feature">
                <label>2. Typed Angular Forms</label>
                <p>
                  Typed forms ensure that the values inside of form controls, groups, and arrays are type safe across
                  the entire API surface. This enables safer forms, especially for deeply nested complex cases.
                </p>
                <div>
                    <img width="700" height="395" loading="lazy" src="https://miro.medium.com/max/1050/0*NhMwPjtNJ7aGgsf9" alt="typed forms">
                </div>
              </div>
              <div class="feature">
                <label>3. Streamlined page title accessibility</label>
                <p>
                    When designing and developing applications, your page title displays the content of your page in a different way. While talking about Angular 13, adding titles was streamlined with the new Route.title in the Angular router. However, it doesn’t require adding any additional imports when adding a title to your page in Angular 14.
                </p>
                <div class="terminal">
                    <pre>{{pageTitle}}</pre>
                  </div>
              </div>
              <div class="feature">
                <label>4. Extended Developer Diagnostics</label>
                <p>
                    New extended diagnostics provide an extendable framework that gives you more insight into your templates and how you might be able to improve them. Diagnostics give compile-time warnings with precise, actionable suggestions for your templates, catching bugs before run-time.
                </p>
                <div>
                    <img width="700" height="395" loading="lazy" src="https://miro.medium.com/max/900/0*zJhvlTPZxwmyHvul" alt="typed forms">
                </div>
              </div>
            </div>
        </div>
      </div>
