  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 pd-0">
        <div class="angular-2">
          <label>Angular 2 Features</label>
          <div>(Released in 2016)</div>
          <div class="back" [routerLink]="['/']">< Back</div>
        </div>
      </div>
    </div>
    <div class="row features-scroll">
      <div class="col-md-12">
        <div class="feature">
          <label>1. Components in and Controllers out</label>
          <p>
            Earlier version of Angular i.e. Angular or Angular 1.x worked in project using Controllers now in Angular 2
            its work around changed to Components. In real sense, Controllers still exist as one part of what we are
            calling a Component. The Component is composed and has a View and a Controller. The View is what we have
            HTML template while Controller in actual the JavaScript behaviour.
          </p>
          <div class="terminal">
            <pre>ng generate component my-component</pre>
          </div>
        </div>
        <div class="feature">
          <label>2. Directive</label>
          <p>
            In Angular, Directives are defined as classes that can add new behavior to the elements in the template or
            modify existing behavior.The purpose of Directives in Angular is to maneuver the DOM, be it by adding new
            elements to DOM or removing elements and even changing the appearance of the DOM elements.
          </p>
          <div>
            1. Component Directive
          </div>
          <div> 2. Structural Directive
          </div>
          <div>3. Attribute directive</div>
          <div class="terminal">
            <pre>ng generate directive my-directive</pre>
          </div>
        </div>
        <div class="feature">
          <label>3. Support for mobile or low end devices</label>
          <p>
            Angular 2 has been designed with mobile in mind, it is designed to offer extensive support for mobile
            devices where touch events and gestures work across all devices.
          </p>
          <div>
            1. It supports Single (Universal) Framework for both Web and Mobile device which reduces learning
            curve to most of the developers.
          </div>
          <div> 2. It has great mobile features like touch support, low memory, material design UI elements and
            performance tuning etc, which will help quickly resolve mobile related issues.
          </div>
          <div class="feature-video">
            <video width="400px" height="240" controls>
                <source src="./assets/responsive_web_design.mp4" type="video/mp4">              
              </video>
          </div>
        </div>
      </div>
    </div>
  </div>
