<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 pd-0">
      <div class="angular-13">
        <label>Angular 13 Features</label>
        <div>(Released on Nov 2021)</div>
        <div class="back" [routerLink]="['/']">
          < Back</div> </div> </div> </div> <div class="row features-scroll">
            <div class="col-md-12">
              <div class="feature">
                <label>1. Form Validation Improvements</label>
                <p>
                  In angular13 one of the new features, Form Control Status, was introduced and it is used to apply to
                  better check on form controls. Previously we could find the valid and invalid status. Now we can also
                  find 'Enabled', 'Disabled’ and ‘Pending’.
                </p>
                <div>
                  <img class="fc" src="./assets/form_control.jpg" alt="Form control">
                </div>
              </div>
              <div class="feature">
                <label>2. Enhancements to Angular Tests</label>
                <p>
                  This time the Angular team has made some new changes for TestBed that currently functions properly to
                  tear down test environments and modules after every test.
                </p>
                <p>The DOM is now cleaned after every test and developers can expect faster, less memory-intensive, less
                  interdependent, and more optimized tests. </p>
                <div class="terminal">
                  <pre>{{ngTest}}</pre>
                </div>
              </div>
              <div class="feature">
                <label>3. Update Component API’s</label>
                <p>
                  The old versions of angular take lots of code while creating dynamic component creations. Now this API
                  is very simplified and reduced the codes like ComponentFactoryResolver.
                </p>
                <p>Please refer to the code below to create dynamic components in angular 13. No need for the commanded
                  code. It old version code for our reference. </p>
                <div class="terminal">
                  <pre>{{dynamicComponent}}</pre>
                </div>
              </div>
              <div class="feature">
                <label>4. Angular CLI Enhancements</label>
                <p>
                  Angular 13 supports the use of persistent build cache by default. This feature cache builds results on
                  disk and significantly improves (upto 68%) the overall development speed.
                </p>
                <p>Angular has also optimized performance in the ESBuild feature. The newly introduced ESbuild works
                  with terser to optimize global scripts.

                  It also supports CSS sourcemaps and can optimize global CSS and style sheets.</p>
              </div>
            </div>
        </div>
      </div>
