.angular-11 {
    width: 100%;
    padding: 10px;
    background: #1976d2;
}

.angular-11 label {
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
    margin-left: 20px;
}

.angular-11 div {
    font-size: 12px;
    font-weight: 400;
    color: #ccc;
    display: inline-block;
    margin-left: 10px;
}

.better-report {
    width: 500px;
}